In [1]:
import pandas as pd
import numpy as np
import scipy 
from scipy import stats
import statsmodels.stats.descriptivestats as sd

In [6]:
data=pd.read_csv("D:\projects\Hypothesis testing\Cutlets.csv")

In [7]:
UnitA=data['Unit A']
UnitB=data['Unit B']

In [8]:
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [9]:
pvalue=stats.ttest_ind(UnitA,UnitB)[1]

In [10]:
pvalue

0.4722394724599501

In [11]:
if pvalue<0.05:
    print ("We reject null hypothesis")
else:
    print("We accept alternate hypothesis")

We accept alternate hypothesis